body {
  /*background: url("");*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 500px;
  background: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-shadow: 10px 10px 60px 4px rgba(0, 0, 0, 0.75);
}

.container .left_side {
  color: #1a1a1d;
  position: relative;
  background: #950740;
  padding: 15px;
}

.container .right_side {
  color: whitesmoke;
  position: relative;
  background: #1a1a1d;
  padding: 30px;
}

.bar {
  margin: 10px -10px 0px -10px;
  padding-left: 0;
  list-style-type: none;
  border-bottom: 3px solid #1a1a1d;
}

.link {
  color: inherit;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.image_box {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.image_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nameOf h2 {
  font-size: 1.4em;
}

.mySlides h2 {
  text-align: center;
  font-size: 2em;
  margin: 10px 0px 5px 0px;
}

.contact_information ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 5px 10px 5px; /* top,right,bottom,left*/
}

.details {
  margin-left: 30px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 20px 10px 20px 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot_container {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 470px;
  left: 0px;
  right: 0px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
