body {
  background: url("table.png");
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 10px 10px 60px 4px rgba(0, 0, 0, 0.75);
}

.container .left_side {
  position: relative;
  background: #950740;
  padding: 15px;
}
.container .right_side {
  position: relative;
  background: #1a1a1d;
  padding: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-bottom: 2px solid #1a1a1d;
}

.profile .image_box {
  position: relative;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 5px;
}

.profile .image_box img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile .nameOf h2 {
  color: #1a1a1d;
  font-size: 2em;
  margin-top: 20px;
}

.contact_information {
  color: #1a1a1d;
}

.skill_set {
  color: #1a1a1d;
}
:root {
  --r: 255;
  --g: 255;
  --b: 255;
  --text-color: rgb(var(--r), var(--g), var(--b));
}
